@model IEnumerable<GeekShopping.Web.Models.ProdutoModel>

<br />
<br />

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de Produtos</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="ProdutoCreate" class="btn btn-outline-primary"><i class="fas fa-plus">Novo Produto</i></a>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Preço
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @item.Nome
                    </td>
                    <td>
                        @item.NomeCategoria
                    </td>
                    <td>
                        @((item.Preco.ToString("c")))
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>